div#book-details

  h2#book-title {{ book.name }}
  h3#book-author {{ book.author.join(', ') }}

  div.info(ng-style="{ 'height' : (descMinimized ? descMinHeight : 'auto') }")
    table.info-table
      tbody
        tr
          td Edition:
          td(ng-if="book.edition") {{ book.edition }}
            sup {{ book.edition | ordinal }}
          td(ng-if="!book.edition") N/A
        tr
          td Publisher:
          td {{book.publisher}}
        tr
          td Published:
          td {{ book.publishDate | date:"yyyy" }}
        tr
          td ISBN:
          td {{ book.ISBN }}
        tr
          td Pages:
          td {{ book.pageCount }}
      tfoot
        tr: td(colspan="2")
          //- span Watching
          //- button(ng-click="removeFromWatchlist()") Remove
          div(ng-if="!currentUser")
            span
              a(href, ng-click="openAccount()") log in
              |  to track this book
          div(ng-if="currentUser")
            button.confirm(ng-if="!watching", ng-click="addToWatchlist()")
              span.symbol +
              |  add to watchlist
            button.cancel(ng-if="watching", ng-click="removeFromWatchlist()")
              span.symbol ✓
              span watching
    div.preview
      img(src="{{book.coverImage}}")

    div(ng-bind-html="book.description | unsafe")

    button.none.expand(
      ng-class="{'expanded':!descMinimized}",
      ng-click="toggleDesc()") {{ descMinimized ? "- more -" : "- less -" }}

  div.listings
    div.tabs
      button(ng-click="whichListings = 'both'", ng-class="{'active': whichListings=='both'}") 
        | All Listings
      button(ng-click="whichListings = 'selling'", ng-class="{'active': whichListings=='selling'}")
        | Selling
      button(ng-click="whichListings = 'renting'", ng-class="{'active': whichListings=='renting'}")
        | Renting
    form(ng-submit="submitListing()")
      table.listings
        thead
          tr
            th.seller.sortable(colspan="2", ng-click="handleReorder('lastName')", ng-class="{'active':listingOrder=='lastName','reversed':reverseSort}") {{{'both':'Seller','selling':'Seller','renting':'Renter'}[whichListings]}}
            th.condition.sortable(ng-click="handleReorder('condition')", ng-class="{'active':listingOrder=='condition','reversed':reverseSort}") Condition
            th.price.sortable(ng-click="handleReorder('price')", ng-class="{'active':listingOrder=='price','reversed':reverseSort}") Price
            th.contact Contact
        tbody(ng-if="whichListings=='both'")
          tr(ng-repeat="listing in mergedListings | orderBy:listingOrder:reverseSort",
             ng-include="'partials/detail.book.listings'")

        tbody(ng-if="whichListings=='selling'")
          tr(ng-repeat="listing in mergedListings | filter:{sellingPrice:'!!'} | orderBy:listingOrder:reverseSort",
             ng-include="'partials/detail.book.listings'")

        tbody(ng-if="whichListings=='renting'")
          tr(ng-repeat="listing in mergedListings | filter:{rentingPrice:'!!'} | orderBy:listingOrder:reverseSort",
             ng-include="'partials/detail.book.listings'")
        tfoot
          tr.make-listing(ng-class="{'inactive':(!listingPaneOpen || !currentUser)}")
            td.label(colspan="2") {{currUserListing ? 'Edit my listing:' : 'Add a listing:'}}
            td.condition
              select(
                ng-model="newListing.condition",
                ng-options="opt.name for opt in conditionOptions track by opt.code"
              )
              small.description {{conditionDescriptions[newListing.condition.code]}}

            td
              p
                input(
                  type="checkbox",
                  id="sellbox",
                  ng-model="newListing.selling",
                  ng-disabled="newListing.selling && !newListing.renting"
                  )
                span.label Sell for 
                input#sellingPriceInput.price(
                  type="text",
                  ng-model="newListing.sellingPrice",
                  ng-change="validateSellingPrice()"
                  placeholder="$12",
                  ng-disabled="!newListing.selling"
                )
              p
                input(
                  type="checkbox",
                  id="rentbox",
                  ng-model="newListing.renting",
                  ng-disabled="!newListing.selling && newListing.renting"
                  )
                span.label Rent for 
                input#rentingPriceInput.price(
                  type="text",
                  ng-model="newListing.rentingPrice",
                  ng-change="validateRentingPrice()"
                  placeholder="$12",
                  ng-disabled="!newListing.renting"
                )
            td.confirm.quality
              button.confirm(type="submit")
                span.symbol {{currUserListing ? '✓':'+'}}
                | {{currUserListing ? ' update!' : ' list!'}}
          tr.add-listing: td(colspan="5")
            div(ng-if="!currentUser")
              a(href, ng-click="openAccount()") log in
              |  to add a listing
            button.cancel(type="button", ng-if="listingPaneOpen && currentUser", ng-click="closeListingPane()")
              span.symbol ×
              |  cancel
            button.confirm(type="button", ng-if="!listingPaneOpen && currentUser && !currUserListing", ng-click="openListingPane()")
              span.symbol +
              |  add a listing
            button.edit(type="button", ng-if="!listingPaneOpen && currentUser && currUserListing", ng-click="openListingPane()")
              span.symbol &#9998;
              |  edit my listing

  div.modal-wrapper(
    ng-class="{'visible':offer.active}",
    ng-htb-self-mousedown="offer.active = false"
    )
    div.modal.offer
      h3 Make an offer
      textarea(ng-model="offer.message")
      div.bottom-buttons
        button(ng-click="makeOffer()") Send email
        button.cancel(ng-click="offer.active = false") Cancel
