td.image(ng-if="!listing.isAmazonListing"): a(href="user/{{listing.userID}}")
	img(src="{{listing.user.avatar}}")
td.image(ng-if="listing.isAmazonListing"): a(href="{{listing.amazonUrl}}", target="_blank")
	img(src="images/amazon.jpg")


td.username(ng-if="!listing.isAmazonListing"): a(href="user/{{listing.userID}}") {{listing.user.name.givenName}}
td.username(ng-if="listing.isAmazonListing") Amazon


td.quality
	a.tooltip(title="{{conditionDescriptions[listing.condition]}}") {{conditionOptions[listing.condition].name}}

td(ng-if="!listing.isAmazonListing")
	table.price-table
		tr
			td Buy:
			td {{listing.sellingPrice | currency }}
		tr
			td Rent:
			td(ng-if="listing.rentingPrice") {{listing.rentingPrice | currency }}/term
			td(ng-if="!listing.rentingPrice") —
	//- p(ng-if="whichListings !== 'selling' && listing.rentingPrice !== null").
	//- 	{{listing.rentingPrice | currency }}/term {{whichListings=='renting'?undefined:'to rent'}}
	//- p(ng-if="whichListings !== 'renting' && listing.sellingPrice !== null").
	//- 	{{listing.sellingPrice | currency }} {{whichListings=='selling'?undefined:'to buy'}}
td(ng-if="listing.isAmazonListing")
	p(ng-if="whichListings !== 'renting' && listing.sellingPrice !== null").
		{{listing.sellingPrice | currency }} {{whichListings=='selling'?undefined:'to buy'}}

td.make-an-offer(ng-if="!listing.isAmazonListing")
	p(ng-if="!currentUser")
		a(href, ng-click="openAccount()") log in
		|  to make an offer
	button.confirm.email(
		ng-if="currentUser && !currentUser.offers.includes(listing.listingID) && listing.userID !== currentUser.userID",
		ng-click="makeOfferInit(listing)")
		img(src="/images/email.png")
	div.complete(ng-if="currentUser.offers.includes(listing.listingID)") ✓ offer made
	button.edit(
		ng-if="listing.userID == currentUser.userID",
		ng-click="openListingPane()",
		ng-hide="removingListing") &#9998;
	button.delete(
		ng-if="listing.userID == currentUser.userID",
		ng-click="openRemovingListing()",
		ng-hide="removingListing") del
	div.remove-listing(ng-if="listing.userID == currentUser.userID", ng-show="removingListing")
		p Did it sell?
		button.confirm(ng-click="removeListing(listing, true)") yes
		button.no(ng-click="removeListing(listing, false)") no
		button.cancel(ng-click="closeRemovingListing()") cancel
td.make-an-offer(ng-if="listing.isAmazonListing")
	a(href="{{listing.amazonUrl}}", target="_blank") Buy on Amazon
