td.image: a(href="book/{{listing.ISBN}}")
	//- TODO: ^^MAKE THIS A REAL LINK
	img(src="{{listing.book.coverImage}}")

td.name: a(href="book/{{listing.ISBN}}") {{ listing.book.name | limitTo: 20 }}{{listing.book.name.length > 20 ? '…' : ''}}

td.quality
	a.tooltip(title="{{conditionDescriptions[listing.condition]}}") {{conditionOptions[listing.condition].name}}

td
	table.price-table
		tr
			td Buy:
			td(ng-if="listing.sellingPrice") {{listing.sellingPrice | currency }}
			td(ng-if="listing.sellingPrice == 0") Free!
			td(ng-if="listing.sellingPrice == null") —
		tr
			td Rent:
			td(ng-if="listing.rentingPrice") {{listing.rentingPrice | currency }}/term
			td(ng-if="listing.rentingPrice == 0") Free!
			td(ng-if="listing.rentingPrice == null") —

td.make-an-offer
	p(ng-if="!currentUser")
		a(href, ng-click="openAccount()") log in
		|  to make an offer
	button.confirm.email(
		ng-if="currentUser && !currentUser.offers.includes(listing.listingID) && listing.userID !== currentUser.userID",
		ng-click="makeOfferInit(listing)")
		span.symbol ✉
	div.complete(ng-if="currentUser.offers.includes(listing.listingID)") ✓ offer made
	button.edit(
		ng-if="listing.userID == currentUser.userID",
		ng-click="openListingPane(listing)",
		ng-hide="removingListingID == listing.listingID") &#9998;
	button.delete(
		ng-if="listing.userID == currentUser.userID",
		ng-click="openRemovingListing(listing)",
		ng-hide="removingListingID == listing.listingID")
		i.fa.fa-trash-o(aria-hidden="true")
	div.remove-listing(ng-if="listing.userID == currentUser.userID", ng-show="removingListingID == listing.listingID")
		p Did it sell?
		button.confirm(ng-click="removeListing(listing, true)") yes
		button.no(ng-click="removeListing(listing, false)") no
		button.cancel(ng-click="closeRemovingListing()") cancel