td.image(ng-if="!listing.isAmazonListing"): a(href="user/{{listing.userID}}")
	img(src="{{listing.user.avatar}}")
td.image(ng-if="listing.isAmazonListing"): a(href="{{listing.amazonUrl}}", target="_blank")
	img(src="images/amazon.jpg")


td.username.hyphenate(ng-if="!listing.isAmazonListing"): a(href="user/{{listing.userID}}") {{listing.user.name.givenName | limitTo: 20 }}{{listing.user.name.givenName.length > 20 ? '…' : ''}}
td.username(ng-if="listing.isAmazonListing")
	a(href="{{listing.amazonUrl}}") Amazon


td.condition
	a.dashed.tooltip(title="{{conditionDescriptions[listing.condition]}}") {{conditionOptions[listing.condition].name}}

td(ng-if="!listing.isAmazonListing")
	table.price-table
		tr
			td Buy:
			td(ng-if="listing.sellingPrice") {{listing.sellingPrice | currency : "$" : 0  }}
			td.green-text(ng-if="listing.sellingPrice == 0") Free!
			td(ng-if="listing.sellingPrice == null") —
		tr
			td Rent:
			td(ng-if="listing.rentingPrice") {{listing.rentingPrice | currency : "$" : 0  }}/term
			td.green-text(ng-if="listing.rentingPrice == 0") Free!
			td(ng-if="listing.rentingPrice == null") —
td(ng-if="listing.isAmazonListing")
	p(ng-if="whichListings !== 'renting' && listing.sellingPrice !== null").
		{{listing.sellingPrice | currency : "$" : 0  }} {{whichListings=='selling'?undefined:'to buy'}}
	p(ng-if="whichListings !== 'renting' && listing.sellingPrice == null")
		a.dashed.tooltip-left(title="Amazon doesn't let us see information about its 3rd-party marketplace.")
			| 3
			sup rd
			|-party sellers only.

td.make-an-offer(ng-if="!listing.isAmazonListing", ng-class="(currentUser && offersDict[listing.listingID]) ? 'complete-wrapper': ''")
	p(ng-if="!currentUser")
		a(href, ng-click="openAccount()") Sign in
		|  to make an offer
	button.confirm.email(
		type="button", 
		ng-if="currentUser && !offersDict[listing.listingID] && listing.userID !== currentUser.userID",
		ng-click="makeOfferInit(listing)")
		span.symbol ✉
		p.email-label Make An Offer
	div.complete(ng-if="currentUser && offersDict[listing.listingID]")
		span.symbol ✓
		p Offer Sent
	button.edit(
		type="button", 
		ng-if="listing.userID == currentUser.userID",
		ng-click="openListingPane()",
		ng-hide="removingListing") &#9998;
	button.delete(
		type="button", 
		ng-if="listing.userID == currentUser.userID",
		ng-click="openRemovingListing()",
		ng-hide="removingListing")
		i.fa.fa-trash-o(aria-hidden="true")
	div.remove-listing(ng-if="listing.userID == currentUser.userID", ng-show="removingListing")
		p Did it sell?
		button.confirm(type="button", ng-click="removeListing(listing, true)") Yes
		button.no(type="button", ng-click="removeListing(listing, false)") No
		button.cancel(type="button", ng-click="closeRemovingListing()") Cancel
td.make-an-offer(ng-if="listing.isAmazonListing")
	a(href="{{listing.amazonUrl}}", target="_blank") Buy on Amazon
