td.image: a(href="book/{{listing.ISBN}}")
	img(src="{{listing.book.coverImage}}")

td.name.hyphenate: a(href="book/{{listing.ISBN}}") {{ listing.book.name | limitTo: 20 }}{{listing.book.name.length > 20 ? '…' : ''}}

td.condition
	a.dashed.tooltip(title="{{conditionDescriptions[listing.condition]}}") {{conditionOptions[listing.condition].name}}

td
	table.price-table
		tr
			td Buy:
			td(ng-if="listing.sellingPrice") {{listing.sellingPrice | currency }}
			td.green-text(ng-if="listing.sellingPrice == 0") Free!
			td(ng-if="listing.sellingPrice == null") —
		tr
			td Rent:
			td(ng-if="listing.rentingPrice") {{listing.rentingPrice | currency }}/term
			td.green-text(ng-if="listing.rentingPrice == 0") Free!
			td(ng-if="listing.rentingPrice == null") —

td.make-an-offer(ng-class="(currentUser && offersDict[listing.listingID]) ? 'complete-wrapper': ''")
	p(ng-if="!currentUser")
		a(href, ng-click="openAccount()") Sign in
		|  to make an offer
	button.confirm.email(
		type="button",
		ng-if="currentUser && !offersDict[listing.listingID] && listing.userID !== currentUser.userID",
		ng-click="makeOfferInit(listing)")
		span.symbol ✉
		p Make an Offer
	div.complete(ng-if="currentUser && offersDict[listing.listingID]")
		span.symbol ✓
		p Offer Sent
	button.edit(
		type="button",
		ng-if="listing.userID == currentUser.userID",
		ng-click="openListingPane(listing, index)",
		ng-hide="removingListingID == listing.listingID") &#9998;
	button.delete(
		type="button",
		ng-if="listing.userID == currentUser.userID",
		ng-click="openRemovingListing(listing)",
		ng-hide="removingListingID == listing.listingID")
		i.fa.fa-trash-o(aria-hidden="true")
	div.remove-listing(ng-if="listing.userID == currentUser.userID", ng-show="removingListingID == listing.listingID")
		p Did it sell?
		button.confirm(type="button", ng-click="removeListing(listing, true)") Yes
		button.no(type="button", ng-click="removeListing(listing, false)") No
		button.cancel(type="button", ng-click="closeRemovingListing()") Cancel
