div.user-about
  div#user-image
    img(src="{{user.avatar}}")
  div.about
    h2 {{user.name.fullName}}
    p.stats
      span Books on offer: {{user.listings.length}}
      span(ng-if="user.gradYear")  | Class year: {{user.gradYear}}
    h3(ng-if="user.bio") Bio
    p(ng-if="user.bio") {{user.bio}}

div.private(ng-if="user.userID == currentUser.userID")
  table.watchlist.info-table
    thead
      tr
        td(colspan="3") Watchlist
    tbody
      tr(ng-repeat="book in watchlist")
        td.cover-image
          a(href="book/{{book.ISBN}}")
            img(src="{{book.coverImage}}")
        td
          a(href="book/{{book.ISBN}}") {{book.name}}
        td
          button x
    tfoot
      tr
        td(colspan="3") Unwatch all

  table.email-settings
    thead
      tr
        td(colspan=2) Email me when...
    tbody
      tr
        td
          label(for="undercut-box") Someone undercuts one of my listings
        td
          input(id="undercut-box", type="checkbox")
      tr
        td
          label(for= "watchlist-box") There's activity on a book on my watchlist
        td
          input(id="watchlist-box", type="checkbox")
      tr
        td
          label(for="htbupdate-box") Hits the Books recieves a major update
        td
          input(id="htbupdate-box", type="checkbox")

div.listings
    div.tabs
      button(ng-click="whichListings = 'both'", ng-class="{'active': whichListings=='both'}") 
        | All Listings
      button(ng-click="whichListings = 'selling'", ng-class="{'active': whichListings=='selling'}")
        | Selling
      button(ng-click="whichListings = 'renting'", ng-class="{'active': whichListings=='renting'}")
        | Renting
    table.listings
      thead
        tr
          th.seller.sortable(colspan="2", ng-click="handleReorder('title')", ng-class="{'active':listingOrder=='title','reversed':reverseSort}") Title
          th.condition.sortable(ng-click="handleReorder('condition')", ng-class="{'active':listingOrder=='condition','reversed':reverseSort}") Condition
          th.price.sortable(ng-click="handleReorder('price')", ng-class="{'active':listingOrder=='price','reversed':reverseSort}") Price
          th.contact Contact
      tbody(ng-if="whichListings=='both'")
        //- TODO: change hrefs to ui-srefs
        tr(ng-repeat="listing in user.listings | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.user.listings'")

      tbody(ng-if="whichListings=='selling'")
        tr(ng-repeat="listing in user.listings | filter:{sellingPrice:'!!'} | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.user.listings'")

      tbody(ng-if="whichListings=='renting'")
        //- TODO: change hrefs to ui-srefs
        tr(ng-repeat="listing in user.listings | filter:{rentingPrice:'!!'} | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.user.listings'")
      tfoot(ng-if="user.userID == currentUser.userID")
        tr.make-listing(ng-class="{'inactive':!listingPaneOpen}")
          td.label(colspan="2") {{currUserListing ? 'Edit my listing:' : 'Add a listing:'}}
          td
            select(
              ng-model="newListing.condition",
              ng-options="opt.name for opt in conditionOptions track by opt.code"
            )
            small {{conditionDescriptions[newListing.condition.code]}}

          td
            p
              input(
                type="checkbox",
                id="sellbox",
                ng-model="newListing.selling",
                ng-disabled="newListing.selling && !newListing.renting"
                )
              span.label Sell for 
              input.price(
                type="text",
                ng-model="newListing.sellingPrice",
                placeholder="$12",
                ng-disabled="!newListing.selling"
              )
            p
              input(
                type="checkbox",
                id="rentbox",
                ng-model="newListing.renting",
                ng-disabled="!newListing.selling && newListing.renting"
                )
              span.label Rent for 
              input.price(
                type="text",
                ng-model="newListing.rentingPrice",
                placeholder="$12",
                ng-disabled="!newListing.renting"
              )
          td.confirm
            button.confirm(ng-click="submitListing()")
              span.symbol {{currUserListing ? '✓':'+'}}
              | {{currUserListing ? 'update!' : 'list!'}}
        tr.add-listing: td(colspan="5")
          div(ng-if="!currentUser")
            a(href, ng-click="openAccount()") log in
            |  to add a listing
          button.cancel(ng-if="listingPaneOpen && currentUser", ng-click="closeListingPane()")
            span.symbol ×
            |  cancel
          button.confirm(ng-if="!listingPaneOpen && currentUser && !currUserListing", ng-click="openListingPane()")
            span.symbol +
            |  add a listing
          button.edit(ng-if="!listingPaneOpen && currentUser && currUserListing", ng-click="openListingPane()")
            span.symbol &#9998;
            |  edit my listing