div#book-details

  h2#book-title {{book.name}}
  h3#book-author {{ book.author.join(', ') }}

  div.info
    table.info-table
      tbody
        tr
          td Edition:
          td(ng-if="book.edition") {{ book.edition }}
            sup {{ book.edition | ordinal }}
          td(ng-if="!book.edition") N/A
        tr
          td Publisher:
          td {{book.publisher}}
        tr
          td Published:
          td {{ book.publishDate | date:"yyyy" }}
        tr
          td ISBN:
          td {{ book.ISBN }}
        tr
          td Pages:
          td {{ book.pageCount }}
      tfoot
        tr: td(colspan="2")
          //- span Watching
          //- button(ng-click="removeFromWatchlist()") Remove
          div(ng-if="!currentUser")
            span
              a(href, ng-click="openAccount()") log in
              |  to track this book
          button.confirm(ng-if="currentUser.subscriptions.indexOf(book.ISBN) == -1", ng-click="addToWatchlist()")
            span.symbol +
            |  add to watchlist
          button.cancel(ng-if="currentUser.subscriptions.indexOf(book.ISBN) > -1", ng-click="removeFromWatchlist()")
            span.symbol ✓
            span watching
    div.preview
      img(src="{{book.coverImage}}")

    p {{book.description}}

  div.listings
    div.tabs
      button(ng-click="whichListings = 'both'", ng-class="{'active': whichListings=='both'}") 
        | All Listings
      button(ng-click="whichListings = 'selling'", ng-class="{'active': whichListings=='selling'}")
        | Selling
      button(ng-click="whichListings = 'renting'", ng-class="{'active': whichListings=='renting'}")
        | Renting
    table
      thead
        tr
          th.sortable(colspan="2", ng-click="handleReorder('lastName')", ng-class="{'active':listingOrder=='lastName','reversed':reverseSort}") {{{'both':'Seller','selling':'Seller','renting':'Renter'}[whichListings]}}
          th.sortable(ng-click="handleReorder('condition')", ng-class="{'active':listingOrder=='condition','reversed':reverseSort}") Cond.
          th.sortable(ng-click="handleReorder('price')", ng-class="{'active':listingOrder=='price','reversed':reverseSort}") Price
          th Buy/Get
      tbody(ng-if="whichListings=='both'")
        //- TODO: change hrefs to ui-srefs
        tr(ng-repeat="listing in book.listings | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.book.listings'")

      tbody(ng-if="whichListings=='selling'")
        tr(ng-repeat="listing in book.listings | filter:{sellingPrice:'!!'} | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.book.listings'")

      tbody(ng-if="whichListings=='renting'")
        //- TODO: change hrefs to ui-srefs
        tr(ng-repeat="listing in book.listings | filter:{rentingPrice:'!!'} | orderBy:listingOrder:reverseSort",
           ng-include="'partials/detail.book.listings'")
      tfoot
        tr.make-listing(ng-class="{'inactive':!newListing.active}")
          td.label(colspan="2") Add a listing:
          td
            select(ng-model="newListing.condition")
              option(selected) Used
              option New
          td
            p
              input(type="checkbox", id="sellbox", ng-model="newListing.selling", ng-disabled="newListing.selling && !newListing.renting")
              span.label Sell for 
              input.price(type="text", ng-model="newListing.sellingPrice", placeholder="$12", ng-disabled="!newListing.selling")
            p
              input(type="checkbox", id="rentbox" ng-model="newListing.renting", ng-disabled="!newListing.selling && newListing.renting")
              span.label Rent for 
              input.price(type="text", ng-model="newListing.rentingPrice", placeholder="$12", ng-disabled="!newListing.renting")
          td.confirm
            button(ng-click="submitListing()")
              span.symbol +
              | list!
        tr.add-listing: td(colspan="5")
          div(ng-if="!currentUser")
            a(href, ng-click="openAccount()") log in
            |  to add a listing
          button.cancel(ng-if="newListing.active && currentUser", ng-click="newListing.active = false")
            span.symbol ×
            |  cancel
          button.confirm(ng-if="!newListing.active && currentUser", ng-click="newListing.active = true")
            span.symbol +
            |  add a listing

  div.modal-wrapper(
    ng-class="{'visible':offer.active}",
    ng-htb-self-click="offer.active = false"
    )
    div.modal
      h3 Make an offer
      textarea(ng-model="offer.message")
      button Send email