- var placeHolders = ["Norton Ant…", "John Zelle", "Penguin Cl…"]
- var randi = Math.floor(Math.random()*placeHolders.length);

div#search(ng-class="\
  {\
    'searching'    : searchIsSearching,\
    'home-view'    : is('main'),\
    'behind-detail' : searchIsBehindDetail\
  }",
  ng-click="handleSearchPaneClick()")

  div#search-form
    //- span#search-labels
    //-   label(class="pre-search" for="search") Find or list a book:
    //-   label(class="post-search" for="search") Results for:
    input#search-box(type="text",
                     ng-model="searchInput",
                     ng-focus="resetInitSearch()",
                     ng-change="updateSearchBox();search()",
                     ng-htb-keypress="{13:'classicSearch()'}",
                     placeholder='Search the exchange...')
    //- a(ui-sref="main.search({query: searchInput})") Search
    div.search-loading(ng-click="classicSearch()", ng-class="searchLoading?'loading':''")

  div#search-results(ui-view="search")

div#detail-wrapper(ui-view="detail", ng-class="detailIsMaximized ? 'maximized':'minimized'")