- var placeHolders = ["9781118115534", "Norton Anthology", "John Zelle"]
- var randi = Math.floor(Math.random()*placeHolders.length);

div#search(ng-class="\
  {\
    'searching'    : includes('main.search'),\
    'home-view'    : is('main'),\
    'behind-detail' : includes('main.detail')\
  }",
  ng-click="handleSearchPaneClick()")

  div#search-form
    span#search-labels
      label(class="pre-search" for="search") I want to find or list a book:
      label(class="post-search" for="search") Results for:
    input#search-box(type="text",
                     ng-model="searchInput",
                     ng-focus="resetInitSearch()",
                     ng-change="updateSearchBox();search()",
                     ng-htb-keypress="{13:'classicSearch()'}",
                     placeholder="#{placeHolders[randi]}")
    //- TODO: using ng-model searchInput is most-def not the best way to do this.
    //- a(ui-sref="main.search({query: searchInput})") Search

  div#search-results(ui-view="search")

div#detail-wrapper(ui-view="detail", ng-class="includes('main.detail')?'maximized':'minimized'")