div#about-wrapper.modal-wrapper(
  ng-class="{'visible' : modalStates.about}",
  ng-htb-self-mousedown="modalStates.about = false")
  div#about.modal
    h2 About
    div
      section
        h5 Hit the Books is a service for <br /> trading used textbooks. 
        p
          | No need to browse Facebook or pester your upperclassmen friends- 
          | we’ll help you find other students who have the textbooks you need.
      section
        h5 All transactions are face-to-face.
        p
          | HTB isn’t a paid service or online marketplace. It’s more like a search engine for books and students. 
          | The only “transaction” we handle is an initial email to let other students know you’re interested in buying or 
          | selling. You can take it from there!
      section
        h5 Finding a textbook is simple.
        ul
          li Start by searching for the book.
          li The book page will show you any members who are offering the book.
          li If you see a price you like, click “Make an Offer” to send them an email.
          li If you don’t see any listings, you can still add the book to your watchlist to get an email notifying you if anyone lists it in the future.
      section
        h5 Selling a textbook is simple too!
        ul
          li Start by searching for the book.
          li Click “Add A Listing” to indicate that you are offering the book, and to set your price.
          li You will receive an email when someone is interested in buying your book.
          li You can review your available listings, and your watchlist, on your user page.
      footer
        strong Have fun and let us know if you have any questions or ideas for the site!
        p © 2016 David Pickart, Joe Slote, and Duo Tao
        p Hit the Books started at #[a( target="_blank" href="https://www.facebook.com/carletondevx/") Carleton DevX].
div#account-wrapper.modal-wrapper(
  ui-view="account",
  ng-class="{'visible' : includes('account')}",
  ng-htb-self-mousedown="closeAccount()")
  
div#contact-wrapper.modal-wrapper(
  ng-class="{'visible' : modalStates.contact}",
  ng-htb-self-mousedown="modalStates.contact = false;showSuccess=false;" ng-controller='errorReportController')
    div#contact.modal
      h2 Contact Us
      form#contact-form(ng-submit='submit()' ng-if="!showSuccess")
        h4 Tell us about the issue:
        textarea(rows="4" cols="50" style='display:block' ng-model='formData.message' name='message')
        div.bottom-buttons
          button.confirm(type='submit') Submit
      p(ng-if='showError' style='color:red; font-size:10px' ng-bind='errorMessage')
      p(ng-if='showSuccess') {{successMessage}}
